/**
 * InputField
 */

.container
	position sticky
	top 0
	width 100%
	background var(--background_color)

.content
	margin 0 auto
	padding 6rem 6rem 1rem
	max-width 80rem

.input
	padding .5em 0
	display block
	width 100%
	color inherit
	font-size inherit
	font-family inherit

	&::placeholder
		font-weight 300
		font-size .9em

	&
	&:focus
		background none
		box-shadow none
		outline none
		border none
		border-bottom .2rem solid

.label
	pointer-events none
