# Git related files and folders
.git
.gitignore

# Documentation
docs

# dist folder
dist

# gatsby cache and public folders
.cache
public

# npm related files and folders
node_modules

# content demo files and folders
content-demo

# Docker related files
.dockerignore
Dockerfile
