/**
 * Single header
 */

.header
	padding-bottom 21rem
	margin 0
	flex 0 0 auto

	nav
		// Small margin to compensate the font-size difference with the title
		margin-left 5px

.title
	padding-top 3.5rem
	hyphens auto
	display block
	font-size inherit
	font-weight inherit
	margin 0

	nav + &
		padding-top .5rem

.link
	font-family 'Roboto Condensed'
	font-size 60px
	font-size 6rem
	line-height 1
	letter-spacing 0
	font-weight 400
	text-transform uppercase

@media screen and (max-width: 768px)

	.link
		font-size 5rem
