/**
 * Columns
 */

.container
	display grid
	grid-template-columns repeat(auto-fit, minmax(15rem, auto))
	column-gap 2.5rem

@media screen and (max-width: 600px)

	.responsive
		grid-template-columns 100%
