/**
 * App - Scrollbar
 */

.ScrollbarsCustom-Wrapper
	right 0!important

.ScrollbarsCustom-Track
.ScrollbarsCustom-Thumb
	border-radius 0!important

.ScrollbarsCustom-Thumb
	background-color var(--color_07)!important

.ScrollbarsCustom-Track
	background none!important
	width 7px!important
	top 0!important
	bottom 0!important
