/**
 * App - Typography
 */

html
	font-size 10px

body
	font-family 'Roboto'
	font-size 1.9rem
	line-height 1.7
	letter-spacing 0.05em
	font-weight 300

strong
h1
h2
h3
h4
h5
h6
	font-weight 500

@media screen and (max-width: 600px)

	html
		font-size 9px
