/**
 * App
 */

@import "./_colors"

.container
	width 100%
	height 100%
	margin 0
	display flex
	background-color var(--background_color)
	color var(--color_085)
	fill var(--color_07)
	transition background-color .1s $e_deceleration,
		color .1s $e_deceleration,
		fill .1s $e_deceleration,
		border-color .1s $e_deceleration,
