/**
 * prism.js tomorrow night fixes
 */

.prism-tomorrow_night

	:global(.token)

		&:global(.block-comment)
		&:global(.cdata)
		&:global(.comment)
		&:global(.doctype)
		&:global(.prolog)
			color #777
