$e_standard = cubic-bezier(0.4, 0.0, 0.2, 1)
$e_deceleration = cubic-bezier(0.0, 0.0, 0.2, 1)

$sidebar_width = 32rem
$sidebar_width_responsive = 27rem
$sidebar_paddinglr = 4rem

$layout_padding = 6rem

$paragraph_margint = 2.5rem
