/**
 * Search
 */

.container
	width 100vw
	height 100vh
	position absolute
	top 0
	left 0
	background var(--background_color)
	z-index 100

	&.is_open
		z-index 200

	nav
		font-size .9em
		margin-bottom .2em

		span
			cursor inherit
